<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>MySite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/user.css">
    </head>

    <body>
        <div id="wrap">
            <header class="clearfix">
                <h1><a href="">MySite</a></h1>
                <ul class="clearfix">
                    <li>
                        <a class="btn-s" href="">로그인</a>
                    </li>
                    <li>
                        <a class="btn-s" href="">회원가입</a>
                    </li>
                </ul>
            </header>
   
            <nav>
                <ul class="clearfix">
                    <li><a href="">입사지원서</a></li>
                    <li><a href="">게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </nav>

            <div id="content2" class="clearfix">
                <aside>
                    <h2>유저</h2>
                    <ul>
                        <li><a href="">회원정보</a></li>
                        <li><a href="">로그인</a></li>
                        <li><a href="">회원가입</a></li>
                    </ul>
                </aside>


                <main>
                    <div id="main-head" class="clearfix">
                        <h3>회원가입</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>유저</li>
                            <li>회원가입</li>
                        </ol>
                    </div>

                    <div id="user-joinform">
                        
                        <form class="form-box" action="" method="">
                            <div class="form-group">
                                <label class="form-txt" for="txt-idcheck">아이디</label>
                                <input id="txt-idcheck" type="text" name="" value="">
                                <button id="btn-idcheck" type="button">중복체크</button>
                            </div>
                            <div class="form-group">
                                <label class="form-txt" for="txt-pwd">패스워드</label>
                                <input id="txt-pwd" type="password" name="" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-txt" for="txt-name">이름</label>
                                <input id="txt-name" type="text" name="" value="">
                            </div>
                            <div class="form-group">
                                <span class="form-txt">성별</span>
                                <label>남</label>
                                <input type="radio">
                                <label>여</label>
                                <input type="radio">
                            </div>
                            <div class="form-group">
                                <span class="form-txt">약관동의</span>
                                <input type="checkbox" name="" value="">
                                <lable>서비스 약관에 동의합니다.</lable>
                            </div>
                            <div class="btn-group">
                                <button id="btn-join" type="submit">회원가입</button>
                            </div>
                        </form>
                        
                    </div>

                    
                </main>
            </div>
            
            <footer>
                <p>
                    Copyright ⓒ 2025 황일영. All right reserved  
                </p>
            </footer>

        </div>
     
    </body>
</html>