@charset "UTF-8";

/* main 페이지 ******************************/
#profile{
    width: 300px;
    float: left;
    margin-right: 30px;
}

#greeting-box{
    width: 630px;
    float: left;
}

#greeting-box .greeting{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

#greeting-box .introduce{
    font-size: 18px;
}
/* //main 페이지 ******************************/